Listas

In [ ]:
#Uma maneira de definir listas
idades = [28, 42, 43, 35, 39, 28, 38]
print(idades)
type(idades) #Todos os elementos da lista sao inteiros porem ainda e um tipo listas

[28, 42, 43, 35, 39, 28, 38]

list

In [5]:
mat = ['Matheus', 'Pina', 19, 1, 'Solteiro', 2300.89]
print(mat)
type(mat)

['Matheus', 'Pina', 19, 1, 'Solteiro', 2300.89]

list

In [6]:
mat = ['Matheus', 'Pina', 19, 1, 'Solteiro', 2300.89]

print(1 in mat)
print('Bruna' in mat)
print('Pina' in mat)

True
False
True

In [8]:
#Acessar elementos da lista
mat[0]
idades[1]
print(mat[5])

2300.89

In [13]:
#Quero saber a soma de todas as idades
idades = [28, 42, 43, 35, 39, 28, 38]
print('Soma das idades', sum(idades))             
print('Media das idades', sum(idades)/len(idades)) 
print('Menor idade', min(idades))
print('maior idade', max(idades))

Soma das idades 253
Media das idades 36.142857142857146
Menor idade 28
maior idade 43

In [31]:
mat = ['Matheus', 19,
        True, 'Solteiro',
        [1300, 1500, 4600]]

len(mat)                             #Sao 5 elementos (4 elementos mais a lista)
print('Primeiro Salario', mat[4][0]) #Como e uma lista dentro de uma lista a regras sao a mesmas

mat = ['Matheus', 19,
        True, 'Solteiro',
        ['Jovem aprendiz', 'Estagiaro','Analista Jr', 'Pleno'],
        [1300, 1500, 4600]]

Primeiro Salario 1300

In [2]:
mat = ['Matheus', 19,
        True, 'Solteiro',
        ['Jovem aprendiz', 'Estagiaro','Analista Jr', 'Pleno'],
        [1300, 1500, 4600]]  

tamanho = len(mat)
pos = tamanho - 1 

salario = mat[pos]
print(salario)

print(mat[pos][len(salario) - 1])

#Ou 

mat[-1][-1] #kk

[1300, 1500, 4600]
4600

4600

In [ ]:
mat[0:3]
#Voce percebe que o python ele nao pegou o Solteiro, isso pode deixar uma pouco confuso
#Mas e so voce subtarira o tres pelo zero que dara 3 entao o python vai pegar 3 elementos

['Matheus', 19, True]

In [8]:
mat[4][-2:]

'ro'