Tuplas

In [6]:
dados_mat = [32, 1, 'Solteiro', 'data anl']
dados_mat

[32, 1, 'Solteiro', 'data anl']

In [8]:
dados_mat.append(1241.10)
dados_mat

[32, 1, 'Solteiro', 'data anl', 1241.1]

In [10]:
tuplas_mat = (32, 1 , 'Solteiro', 'data anl')
print(type(tuplas_mat))
print(tuplas_mat)

<class 'tuple'>
(32, 1, 'Solteiro', 'data anl')

In [13]:
tuplas_mat[0]

32

In [ ]:
tuplas_mat[0] = 11
#Nao posso alterar nada dentro da tupla

TypeError: 'tuple' object does not support item assignment

In [14]:
tuplas_mat = (32, 1 , 'Solteiro', 'data anl', ['Senac', 'Msul'])
#A tupla e imutal porem se tiver um objeto mutavel eu posso mudar ele 
tuplas_mat[-1].append('Mcu')
tuplas_mat

(32, 1, 'Solteiro', 'data anl', ['Senac', 'Msul', 'Mcu'])